node_modules/
dist/
build/
.env
node_modules/
dist/
build/
.env
node_modules/
dist/
build/
.env

__pycache__/
*.pyc
*.pyo
*.pyd

backend/instance/*.db
migrations/__pycache__/
migrations/versions/__pycache__/
